body {
  margin: 0;
  background: #f8f8f6;
  font-family: 'Inter';
}

.distance-container {
  padding: 24px 32px;
  background: #f8f8f6;
  min-height: 100vh;
}

.content-wrapper {
  width: 96%;
  margin: 0 auto;
}

.calculator-title {
  font-size: 32px;
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 26px;
}

.header p {
  margin-top: 6px;
  color: #666;
  font-size: 14px;
}

.history-btn {
  background: #2f2f2f;
  color: #fff;
  border: none;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px
}

.history-btn:hover {
  background: #000;
}

.logout-btn {
  background: #d10001;
  color: #fff;
  border: none;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Inter';
}

.logout-btn:hover {
  background: #a00001;
}

.card {
  width: 100%;
  background: #fff;
  padding: 20px;
}

.inputs {
  display: grid;
  grid-template-columns: 35% 35% 15% 15%;
  gap: 20px;
  align-items: start;
}

.field {
  overflow: hidden;
}

.field label {
  font-size: 13px;
  display: block;
  margin-bottom: 6px;
  color: #4B4949;
}

.field input[type="text"] {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 2px solid #7d7d7c;
  outline: none;
  background-color: #f8f8f6;
  height: 30px;
  color: #7D7D7C;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Inter';
}

.field input[type="radio" i] {
  accent-color: #1b1b1a;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 13px;
}


.radio-group label {
  display: flex;
  flex-direction: row;
  align-items: start;
  color: #1B1A1A
}



.distance-value {
  font-size: 14px;
  color: #333;
  padding-top: 6px;
}

.calculate-btn {
  margin-top: 20px;
  padding: 10px 16px;
  background: #d10001;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 18px;
  gap: 20px;
  font-family: 'Inter';
  color: #fff
}

.calculate-btn:disabled {
  cursor: not-allowed;
  color: #7D7D7C;
  background-color: #bbbbb9;
}