services:

  postgres:
    image: postgres:17
    container_name: address_postgres
    restart: always
    environment:
      POSTGRES_USER: address_mapper
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: address_route_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: address_redis
    restart: always

  backend:
    build: ./backend
    container_name: address_backend
    restart: always
    depends_on:
      - postgres
      - redis
    env_file:
      - ./backend/app/.env
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend

volumes:
  postgres_data: